

= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %h2.chat-main__header__left-box__current-group
        = @group.name
      %ul.chat-main__header__left-box__member-list<
        Member：
        %li.chat-main__header__left-box__member-list__member<
          = current_user.name
    = link_to edit_group_path(@group), class: "chat-main__header__edit-btn" do
      Edit

  .chat-main__messages
    = render @messages

  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__box
        = f.text_field :body, class: 'chat-main__form__box__form', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__form__box__image' do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'chat-main__form__submit'

