

= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %h2.chat-main__header__left-box__current-group
        test-group
      %ul.chat-main__header__left-box__member-list<
        Member：
        %li.chat-main__header__left-box__member-list__member<
          test-user
    = link_to edit_group_path(@group), class: "chat-main__header__edit-btn" do
      Edit

  .chat-main__messages
    = render @messages

  .chat-main__form
    .chat-main__form__box
      = form_for [@group, @message] do |f|
        = f.text_field :body, class: 'new_message__form', placeholder: 'type a message'
        .new-message__mask
          = f.label :image, class: 'chat-new-message__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new-message__submit'

    -# .chat-main__form__new-text
    -#   .chat-main__form__new-text__input-box